[package]
name = "ntex-mqtt"
version = "0.1.1"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
description = "MQTT v3.1.1 Client/Server framework"
documentation = "https://docs.rs/ntex-mqtt"
repository = "https://github.com/ntex-rs/ntex-mqtt.git"
categories = ["network-programming"]
keywords = ["MQTT", "IoT", "messaging"]
license = "MIT"
exclude = [".gitignore", ".travis.yml", ".cargo/config"]
edition = "2018"

[dependencies]
ntex = "0.1.5"
ntex-codec = "0.1.1"
bitflags = "1.2"
bytes = "0.5.4"
derive_more = "0.99.5"
either = "1.5.3"
futures = "0.3.4"
pin-project = "0.4.8"
log = "0.4"
bytestring = "0.1.5"
serde = "1.0"
serde_json = "1.0"
uuid = { version = "0.8", features = ["v4"] }

[dev-dependencies]
env_logger = "0.7"