[package]
name = "ntex-mqtt"
version = "1.0.0"
authors = ["ntex contributors <team@ntex.rs>"]
description = "Client and Server framework for MQTT v5 and v3.1.1 protocols"
documentation = "https://docs.rs/ntex-mqtt"
repository = "https://github.com/ntex-rs/ntex-mqtt.git"
categories = ["network-programming"]
keywords = ["MQTT", "IoT", "messaging"]
license = "MIT OR Apache-2.0"
exclude = [".gitignore", ".travis.yml", ".cargo/config"]
edition = "2021"

[package.metadata.docs.rs]
features = ["ntex/tokio"]

[dependencies]
ntex = "1.0"
bitflags = "2.4"
log = "0.4"
pin-project-lite = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"

[dev-dependencies]
env_logger = "0.10"
ntex-tls = "1.0"
rustls = "0.21"
rustls-pemfile = "1.0"
openssl = "0.10"
test-case = "3.2"
ntex = { version = "1.0", features = ["tokio", "rustls", "openssl"] }
