[package]
name = "ntex-mqtt"
version = "0.9.0-b.1"
authors = ["ntex contributors <team@ntex.rs>"]
description = "Client and Server framework for MQTT v5 and v3.1.1 protocols"
documentation = "https://docs.rs/ntex-mqtt"
repository = "https://github.com/ntex-rs/ntex-mqtt.git"
categories = ["network-programming"]
keywords = ["MQTT", "IoT", "messaging"]
license = "MIT"
exclude = [".gitignore", ".travis.yml", ".cargo/config"]
edition = "2018"

[dependencies]
ntex = "0.5.16"
ntex-util = "0.1.16"
bitflags = "1.3"
derive_more = "0.99"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
pin-project-lite = "0.2"

[dev-dependencies]
env_logger = "0.9"
ntex-tls = "0.1.3"
rustls = "0.20"
rustls-pemfile = "1.0"
openssl = "0.10"
ntex = { version = "0.5", features = ["tokio", "rustls", "openssl"] }
test-case = "2"
