[package]
name = "mqtt-codec"
version = "0.1.0"
authors = ["Max Gortman <mgortman@microsoft.com>", "Nikolay Kim <fafhrd91@gmail.com>", "Flier Lu <flier.lu@gmail.com>"]
description = "MQTT v3.1 Codec"
documentation = "https://docs.rs/mqtt-codec"
homepage = "https://github.com/fafhrd91/mqtt-codec"
repository = "https://github.com/fafhrd91/mqtt-codec.git"
keywords = ["MQTT", "IoT", "messaging"]
license = "MIT/Apache-2.0"
edition = "2018"

[dependencies]
bitflags = "1.0"
bytes = "0.4"
string = "0.1.3"
tokio-codec = "0.1"
